.category-item {
    background-color: #c6ffc1;
    border: 1px solid #83aa81;
    padding: 1em;
    border-radius: 4px;
}

.category-item.active {
    font-weight: bold;
    border: 1px solid #557523;
    background-color: #557523;
}